@use '/src/mixins.scss';

.frame {
    @include mixins.flex-center;

    height: 100%;
    min-width: 400px;
    overflow: hidden;
    opacity: 0;
    transform: translateX(20px);
    transition: 
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out;
    box-sizing: border-box;

    &__wrapper {
        width: 100%;
        height: 100%;
        background-color: #f3f3f4;
        padding: 10px;
        box-sizing: border-box;
        overflow-y: scroll;

        &::-webkit-scrollbar { display: none; }     
    }
}