@use '/src/mixins';
@use '/src/vars';

.frame_content {
    @include mixins.flex-start;
    flex-flow: column nowrap;
    box-sizing: border-box;
    gap: 20px;

    background-color: vars.$light-1;
    width: 100%;
    height: 100%;
    border-radius: 10px;

    &__wrapper {
        padding: 28px;
        padding-top: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}

.frame {
    &__buttons {
        @include mixins.flex-center;
        flex-flow: column nowrap;
        gap: 10px;
        width: 100%;
        height: auto;
    }
}

