@use '/src/mixins.scss';
@use '/src/vars.scss';

.tab {
    @include mixins.flex-center;

    width: 100%;
    height: 100%;
    border-bottom: 1px solid vars.$blue-color-2;
    transition: all .1s;
    box-sizing: border-box;
    padding: 0px 10px;
    font-size: 14px;
    text-align: center;

    min-width: 0;
    max-width: 100%;

    &:hover {
        cursor: pointer;
        background-color: vars.$blue-color-2;
        color: vars.$light-1;
    }

    &--active {
        background-color: vars.$blue-color-2;
        color: vars.$light-1;
    }

    &__text {
        // white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        text-align: center;
        display: block;
    }
}