@use '/src/vars.scss';
@use '/src/mixins.scss';

.frame_button {
    @include mixins.flex-center;

    background-color: vars.$blue-color-2;
    color: vars.$light-1;
    transition: background-color .1s;
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    display: block;


    &:hover {
        cursor: pointer;
        background-color: vars.$blue-color-3;
    }
}

